services:
  app:
    build: .
    env_file: .env
    ports:
      - "8002:8000"
    depends_on:
      - db

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: fraud_db
      POSTGRES_USER: fraud
      POSTGRES_PASSWORD: fraud
    ports:
      - "5433:5432"
    volumes:
      - fraud_db_data:/var/lib/postgresql/data

  prometheus:
    image: prom/prometheus:v2.54.1
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9091:9090"
    depends_on:
      - app

  grafana:
    image: grafana/grafana:11.1.0
    ports:
      - "3000:3000"
    depends_on:
      - prometheus

volumes:
  fraud_db_data:
